@model IEnumerable<LibrarayManagementSystem.Models.User>
@{
    ViewData["Title"] = "Users Management";
}

<div>
    <a class="btn btn-success" href="#" role="button">Add New Staff Member</a>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>IsActive</th>
                <th>TimeStamps</th>
            </tr>
        </thead>
        <tbody>
            @if (Model is not null)
            {
                @foreach (var staff in Model)
                {
                    <tr>
                        <td>@staff.Id</td>
                        <td>@staff.Name</td>
                        <td>@staff.IsActive</td>
                        <td>@staff.TimeStamps</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
