@using LibrarayManagementSystem.Models;
@{
    ViewData["Title"] = "User Roles Management";
}

<div class="text-center">
    <h1 class="display-4">Welcome To User Roles Page</h1>
    @{
        List<UserRole> users = (List<UserRole>)ViewData["roles"];
    }
    @if (users is not null)
    {
        @foreach (var user in users)
        {
            <h3>Test User Roles Results Set</h3>
            <h3>Id: @user.Id</h3>
            <h3>Name: @user.Name</h3>
        }

    }
</div>
