@model IEnumerable<LibrarayManagementSystem.Models.UserRole>
@{
    ViewData["Title"] = "User Roles Management";
}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>IsActive</th>
                <th>TimeStamps</th>
            </tr>
        </thead>
        <tbody>
            @if (Model is not null)
            {
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Name</td>
                        <td>@user.IsActive</td>
                        <td>@user.TimeStamps</td>
                    </tr>
                }
            @* } *@
        </tbody>
    </table>
</div>
